[submodule "operating-system-windows"]
	path = operating-system-windows
	url = ../operating-system-windows
[submodule "operating-system-android"]
	path = operating-system-android
	url = ../operating-system-android
[submodule "third-windows"]
	path = third-windows
	url = ../third-windows
[submodule "operating-system-windows_common"]
	path = operating-system-windows_common
	url = ../operating-system-windows_common
[submodule "operating-system-posix"]
	path = operating-system-posix
	url = ../operating-system-posix
[submodule "operating-system-universal_windows"]
	path = operating-system-universal_windows
	url = ../operating-system-universal_windows
[submodule "third-android"]
	path = third-android
	url = ../third-android
[submodule "third-universal_windows"]
	path = third-universal_windows
	url = ../third-universal_windows
[submodule "tool-windows"]
	path = tool-windows
	url = ../tool-windows
[submodule "seed-android"]
	path = seed-android
	url = ../seed-android
